@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {       
    font-family: var(--fuente_principal);
    margin: 0;
    padding: 0;
    line-height: 1; 
    /* overflow-y: hidden; */
    overflow-x: hidden;   
}
.app{    
    display: grid;
    width: 100vw;
    height: auto; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "header     header      header"
        "contenido  contenido   contenido"
        "contenido  contenido   contenido"
        "footer     footer      footer";    
} 
*{
    font-family: 'Poppins', sans-serif;
}