:root {
    --color_fondo_claro: #F5F5F5;
    --fuente_principal: 'Poppins', sans-serif;
    --color_fondo-o-letra_botones-2: #2A7AE4;
    --color_letras-H2: #464646;
    --color_placeholder: rgba(36,57,85,0.11);
    --boton-active:  inset 0 0 30px 8px #0c72d6, 0 0 5px 1px #000000;
    --color-fondo-grisclaro: #E5E5E5;
    
    --color_fondo_card: #d6bf7f;
    
    --color-primary: #FF4F11;
    --color-white:#FFFFFF;
    --color-ligth:#F2F1EF;
    --color-muted: #6C757D;
    --fondo-azul:#2e367b;
}
