@import url(../variables.css);
.encabezado{
    width: 100vw;
}
.encabezado__Ayuda{
    background-color: #000000;
    width: 100%;
    height: 44px;
    padding: 10px 20px;
    
}
.encabezado__Ayuda-Menu{
    display: grid;
    height: 50%;
    grid-template-columns: repeat(3,1fr);
    float: right;
    gap: 3rem;
}
.encabezado__Ayuda-Menu>li{
    display: flex;
    align-items: center;
}
.encabezado__Ayuda>ul>li>a{
    margin-left: .5rem;
    color: #ffffff;

}
.encabezado__Ayuda-Menu>li>a,.encabezado__Login-Menu>li>a{
    color: #ffffff;
    text-decoration: none;
}
.encabezado__Ayuda-Menu>li>a:hover{
    text-decoration: underline !important;
}

.encabezado__container{
    background-color: var(--fondo-azul);
    width: 100%;
    min-height: 10vh;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 0.6fr 1.8fr 1.3fr;
    align-items: center;
    overflow: hidden;
}


.encabezado__logo{    
    display: flex;
    justify-content: center;      
    
}
.encabezado__logo>img{ 
    width: 11rem;   
}

.encabezado__buscador-container{
    padding-left: 30px;
    display: flex;
    justify-content: center; 

}

.encabezado__buscador{
    padding-left: 2%;
    width: 100%;
    max-width: 759px; 
    height: 50px; 
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.encabezado__buscador:focus{
    outline: none;
    border: 1px solid var(--color-primary);
}
.encabezado__buscador::placeholder{
    padding-left: 1%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.encabezado__LoginMenu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 5%;
    margin-right: 5%;
    gap: 90px;
    list-style: none;
    width:30rem;
}



.encabezado__LoginMenu{
    width: 30rem;
    
}
.encabezado__LoginMenu--lista{
    display: flex;
    list-style-type: none;    
    width: 100%;
    justify-content:space-between;
      
} 
.encabezado__LoginMenu--lista li:first-child{    
    width: 15rem;        
}
.fa-circle-user{
    margin-right: 0.4rem;
    font-size: 1.5rem;
}
.encabezado__LoginMenu--lista li:last-child{    
    width: 10rem;
}   
.fa-cart-shopping{
    margin-right: 0.4rem;
    font-size: 1.5rem;
}
.encabezado__LoginMenu--lista>li>a{
    color: var(--color-ligth);
    text-decoration: none;
}
.encabezado__LoginMenu--lista>li>a:hover{
    text-decoration: underline;
}
.encabezado__menu{
    display: grid;
    height: 72px;
    width: 100%;
    overflow: hidden;    
}
.encabezado__menu>ul{
    margin-top: 36px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9,200px);
}
.encabezado__menu>ul>li>a{
    color: #000000;
    text-decoration: none;
}
.encabezado__menu>ul>li>a:hover{
    text-decoration: underline;
}


.fa-angle-down {
    transition: all 0.5s ease;
}

.fa {
    color: var(--color-primary);
}


/* Style The Dropdown Button */
.dropbtn {
    
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding:1rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {
    background-color: #361868;
  } */
 /* Código  -  https://github.com/eduardofierropro/eduardofierropro-Como-crear-un-menu-hamburguesa-horizontal/blob/main/1-menu-horizontal/css/app.css*/


 .encabezado__menu {
    margin:0 auto;
  }
  
  .encabezado__menu .button{
    /* background-color: crimson; */
    display: none;
    border:none;
    text-align: start;
  }
  .encabezado__menu .svg{
    width:4em;
    height:4em;
    /* fill:white; */
  }

  .encabezado__menu  .ul{
    margin-right: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
    list-style: none;
    
  }
  .encabezado__menu  .li{
    margin: 0 .5em;
  }
  
  @media screen and (max-width:925px){
    .encabezado__container{        
        grid-template-columns: 40% 1fr; /*0.6fr 1.8fr 1.3fr; */
    }
    .encabezado__menu  .button{
        /* width:100%; */
      display: block;
      cursor: pointer;
    }
    
    .encabezado__menu  .nav{
      width:100%;
      display: none; 
      height:0;
      /* pointer-events: none; */
      overflow: hidden;
      transition: all .5s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .encabezado__menu  .nav.activo{
      display: block;
      height:50vh;
      pointer-events: auto;
    }
    .encabezado__menu  .ul{
      flex-direction: column; 
    }
    .encabezado__menu  li{
      margin: 1rem 0;
    }
    
     .ulMenu{ /*.ulMenu.activo*/
        position: absolute;   
        margin-left: -385px;
        margin-top: 495px;  
        width: 200px;
        padding: 1REM;
        background-color: var(--color-white);
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
     }  
     /* .dropdown-content {
       margin-left: 145px;
      } */
  }