@import url(../variables.css);


.header{
  grid-area: header;
  width: 100vw;
}
.helpSvgContainer{
  height: 2vw;
  width: 2vw;
  margin:0.2vw;
  /* background-color: aqua; */
}
svg{
  height: 100%;
  width:100%;
}

.header__Help{
    background-color: #000000;
    height: 4vw;
    display:grid;   
}   
.header__Help-Menu{
    align-items: end;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    align-items: center;
}
.header__Help-Menu>li{
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    margin:0.2rem auto;
    padding: 0.2rem;
    width:96%;
}
.header__HelpLi {
  grid-column: 2/3;
}
.header__FollowLi {
  grid-column: 3/4;
}
.header__WithdrawLi {
  grid-column: 4/5;
}
.header__Help>ul>li>a{
    color: #ffffff;
    margin-left: .5rem;
    
  }

.header__Help-Menu>li>a,.header__LoginMenu>li>a{
    color: #ffffff;
    text-decoration: none;
}
.header__Help-Menu>li:hover > a{
  color:var(--color-muted);
}
.header__Help-Menu>li:hover > .helpSvgContainer > svg > path{
   stroke:var(--color-muted);
}
.header__Help-Menu>li:hover > .helpSvgContainer > svg > path.dot{
  fill:var(--color-muted);
  stroke:var(--color-muted);
}
.header__Container{
  align-items: center;
    background-color: var(--fondo-azul);
    display: grid;
    grid-template-columns: 20% 20% 20% 40% ;
    height: 7vw;
    justify-items: center;
    padding: 10px 0px; /*original 10px 20px*/
    width: 100%;
    
}
.header__Logo {
  display: flex;
  grid-column: 1/2;
  justify-content: center;
}

.header__Logo>img{   
    padding: 0px 5%; 
    width: 90%;
}

.header__Search-Container{
  grid-column: 2/4;
  padding: 0px 5%;
  width:100%;
}

.header__Search{ 
    border-radius: 6px;
    font-weight: 400; 
    height: 3vw;
    line-height: 24px;
    max-width: 75vw;
    padding-left: 2%;
    width: 100%;
}
.header__Search:focus{
    border: 1px solid var(--color-primary);
    outline: none;
}
.header__Search::placeholder{
    font-weight: 400;
    line-height: 24px;
    padding-left: 1%;
}

.header__LoginMenu {
  grid-column: 4/5;
  grid-template-columns: 50% 50%;
  list-style: none;
  padding: 0px 5%;
  width: 100%;
}

.header__LoginMenu--List{
    display: flex;
  } 

  .header__LoginMenu--List>li{
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    height: 3vw;
    justify-content: center;
    margin:0.2rem auto;
    padding: 0.2rem;
    width:96%;
  }

  .header__LoginMenu--User {
    grid-column: 1/2;
  }
  .header__ShoppingCart {
    grid-column: 2/3;
  }
  
  .header__LoginMenu--List>li>svg{
    align-items: center;
    display: flex;
    height:3rem;
    justify-content:center;
    margin:1rem;
  
}
.header__LoginMenu--List>li>a{
    color: var(--color-ligth);
    text-decoration: none;
    margin-left: 0.5rem;
}
.header__LoginMenu--List>li>a:hover{
    text-decoration: underline;
}

.header__Menu {
  display: flex;
  height: 5vw;
  width: 100%;
  overflow: visible;
  align-items: center;
}
.header__Menu .header__MenuNav {
  width: 100%;

}

.header__Menu .ul {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  list-style: none;
  margin: 0 3%;

}
.header__Menu>.header__MenuNav>ul>li{
  border: 1px solid transparent;
  margin:0.37vw;
  padding: 0.37vw;
  text-align: center;
  width:10vw;
}
.header__Menu>.header__MenuNav>ul>li>a{
    color: #000000;
    text-decoration: none;
  }

.header__Menu>.header__MenuNav>ul>li:hover{    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    transition: all 0.8s ease;
    transform: scale(1.1);
}

.header__Menu>.header__MenuNav>ul> .op1:hover{    
  box-shadow:none;    
}

.fa-angle-down {
    transition: all 0.5s ease;
}

.fa {
    color: var(--color-primary);
    margin:0 1vw;
}

/* Style The header__MenuNav-Dropdown Button */
.header__MenuNav-Dropbtn {
  /* font-size: 16px;  el tamaño de la fuente esta definido en grid general*/
  border: none;
  cursor: pointer;
}

/* The Container <div> - needed to position the header__MenuNav-Dropdown content */
.header__MenuNav-Dropdown {
  display: flex;
  position: relative;  
  align-items: center;
}

/* header__MenuNav-Dropdown Content (Hidden by Default) */
.op1 {
  z-index: 2;
}
.header__MenuNav-Dropdown-Content {
  background-color: #f9f9f9;
  display:none;
  margin-top: 14vw;
  margin-left: -9vw;
  width: 16vw;
  z-index: 1;
  padding: 0.8vw;
  text-align: start;
  transform: scale(1.065);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
  transition: all 0.8s ease;
}

/* Links inside the header__MenuNav-Dropdown */
.header__MenuNav-Dropdown-Content a {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change color of header__MenuNav-Dropdown links on hover */
/* .header__MenuNav-Dropdown-Content a:hover {
  background-color: #f1f1f1
}
.header__MenuNav-Dropdown:hover{
display: inline-block;
} */

/* Show the header__MenuNav-Dropdown Menu on hover */
.header__MenuNav-Dropdown:hover .header__MenuNav-Dropdown-Content {
  display: block;
}

/* Change the background color of the header__MenuNav-Dropdown button when the header__MenuNav-Dropdown Content is shown 
  .header__MenuNav-Dropdown:hover .header__MenuNav-Dropbtn {
    background-color: #361868;
  } */
/* Código  -  https://github.com/eduardofierropro/eduardofierropro-Como-crear-un-Menu-hamburguesa-horizontal/blob/main/1-Menu-horizontal/css/app.css*/



.header__Menu {
  margin: 0 auto;
}

.header__Menu .header__Menu-Button {
  border: none;
  display: none;
  text-align: start;
}

.header__Menu .svg {
  height: 5rem;
  width: 5rem;
}


/*tablet*/
@media screen and (max-width:959px){
  .header{
    display:none;
}
}


/*celular*/
@media screen and (max-width:768px){
  
 }