footer{
    grid-area: footer;
    background-color:fuchsia;
}

.footer__menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.footer__menu>li{
    border: 1px solid transparent;
}
.footer__menu>li:hover{
    border: 1px solid #ffffff;
}
.footer__Info{
    height: 184px;
    background-color:var(--fondo-azul);
    padding-top: 28px;
    display: flex;
    justify-content: space-around;
}
.footer__Info-Contact{
    margin: 0 0 19px 60px;
    color: #DEDBDB;
    
}
.footer__Info-Contact>a{
    color: #DEDBDB;
    font-size: 16px;
    line-height: 21px;
}

.footer__Info-Contact>h5{
    color: var(--color-primary);
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}
.footer__Info-Copyright>h5{
    color: var(--color-primary);
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
   
}

.footer__Info-Suscription>h5{
    color: var(--color-primary);
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}
.footer__Info-Suscription>input{
    width: 362px;
    height: 32px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}
.footer__Info-Suscription>input:focus{
    outline-style: none;
    border: 1px solid var(--color-primary);
}
.footer__menu>li>a{
    color:#DEDBDB;
    font-weight: 400;
    font-size: 16px;
    line-height: 125.5%;
}
.footer__menu-container{
    background-color: #2d2d33;
    height: 100%;
}

/* pruebas inutiles*/
.piedepagina{
    background-color:fuchsia;
    height:500px
}