@import url(../variables.css);

@media screen and (min-width:960px){
    .headerMobile{
      display:none;
  }
}
@media screen and (max-width:959px){
    .headerMobile{
      width: 100vw;
      height:5vw;
      grid-area: headerMobile;
      background-color:#000000;;
      display:grid;
      grid-template-columns: 10% 20% auto 10% 10% ;
      align-items: center;
  }
  
  .hamburger {
      grid-column: 1/2;
      text-align: center;
  }
  .isologo{
      grid-column: 2/3;
      display: flex;
      justify-content: center;
  }
  .searchBar {
      grid-column: 3/4;
      display: flex;
      align-items: end;
  }
  .favorite {
      grid-column: 4/5;
  }
  .shoppingChart{
      grid-column: 5/6;
  }
  
  
  /*https://www.sliderrevolution.com/resources/css-hamburger-menu/ author Flippo */
  /* Hamburger Menu */
  .McButton {      
    position: absolute;
    top: 1vw;
    left: 2%;
    width: 4vw;
    height: 3vw;
    cursor: pointer;
    }
    .McButton b {
      position: absolute;
      left: 0;
      width: 100%;
      height: 15%;
      background-color: var(--color-primary);
      border-radius: 20%;
    }
    .McButton b:nth-child(1) {
      top: 0;
    }
    .McButton b:nth-child(2) {
      top: 50%;
    }
    .McButton b:nth-child(3) {
      top: 100%;
    }
    /* McButton */
    .hamburgerMenu{
        display:none;
    }

    .isologoSvgContainer {
        width: 100%;   
        padding: 0px 5%;
    }
    .isologoSvg {
        height: 90%;
        width: 100%;  
    }
    .searchSvgContainer {
        height: 5vw;
        width: 100%;
        padding: 1vw;
    }
    .searchSvg {
        width: 100%;  
    }
    .favsSvgContainer {
        height: 5vw;
        width: 100%;
        padding: 1vw;
    }
    .favsSvg {
        width: 100%;  
    }
    .chartSvgContainer {
        height: 5vw;
        width: 100%;
        padding: 1vw;
    }
    .chartSvg {
        width: 100%;  
    }




   }
