@import url(../variables.css);
.bannerBox{        
    height: auto;
    width: 100vw;      
}
.imgBanner{       
    height: auto;
    width: 100vw;    
}
.mainProducts{
    height: auto;
    margin: 10vh 0 0 5vw;
    width: 90vw;    
    /*background-color: greenyellow;*/   
}
.mainProductsBox{
    width: 90vw;
    /* border: 1px solid red; */    
}
.mainPowertp{
    margin-top: 5rem;
}

.subProductsBox{    
    display: flex;    
    /* padding:2px;        */
    height: auto;    
    justify-content:space-between;    
    margin:0 auto;    
    width: 80vw;  
    /* background-color: violet; */
    /* border: 1px solid blue;   */
}

.subProductsBox__title{
    color: var(--fondo);
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;       
}
.bt__slider{
    background: transparent;
    border: none;    
}
.btbox__slider{
    border: 1px solid #DEDBDB;
    border-radius: 50%;
    height: 3rem; 
    position: relative;
    width: 3rem;  
    /* background-color: aqua; */
}
.btnimg__slider {
    color: #DEDBDB;
    height: auto;
    position: absolute;
    right:38%;
    top: 18%;
    width: 0.9rem; 
} 

.btbox__slider:hover { 
    background-color: var(--color-primary);    
    transform: scale(1.3);        
}
/* .contenedor__Products{
    margin: 0 3vw 3vw 3vw;
    background-color: var(--color_fondo_claro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} */
.container__Products{
    align-items: center;
    display:flex;
    flex-wrap: nowrap;
    gap: 1.7vw;
    /*background-color:fuchsia;*/
    height:24rem;
    justify-content:flex-start;   
    margin: 0 auto 1rem;     
    -webkit-overflow-scrolling:touch;
    overflow-x: auto;
    padding: 0 2rem;
    width:70vw;
}
.container__Products::-webkit-scrollbar{
    background: #e5e5e5;
    border:1px solid #d5d5d5;
    height:5px;
    width:2px;    
}
.container__Products::-webkit-scrollbar-track{
    -webkit-nox-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.container__Products::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    outline:1px solid (#eee);
} 

/* .card{
    /* box-sizing: border-box; 
    position: absolute;
    
    display: flex;
    width: 16rem;
    height: 21rem;
    max-width: 16rem;
     width: 266px;    
    max-height: 21rem;
    height: 359px;
    margin: 3vh 1rem;
    padding: 1vh;
    flex-direction: column;
    row-gap: 2vh;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DEDBDB;
    border: 1px solid #c5c5c5;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(197, 197, 197, 1);   
    box-shadow:  0 0 30px 8px #0c72d6, 0 0 5px 1px #000000;
} 
 */

 .card {	    
    border: 1px solid #DEDBDB;
	cursor: pointer;
    flex: 0 0 auto;
    height: 21rem;       
    max-height: 21rem;
    max-width: 16rem;
	object-fit: cover;
    text-align: center;
    width: 16rem;    
    /*overflow: hidden;*/
 }

.card:hover{    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    transition: all 0.8s ease
}

.cardImg{
    border-bottom: 0.3rem solid #000000;
    height: 14rem;    
    padding-bottom: 1rem;   
}
.cardDBox{    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.3fr 1fr;
    row-gap: 0.5vw;
}

.cardDescription{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.cardPrice{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: bold;
    font-weight: 800;
    line-height: 21px;
}

.mainBanner__bottom{   
    margin-top:5vh; 
}